.carousel {
    /* background-color: var(--black); */
}

.carousel .carousel-slides-container {
    padding: 0;
    position: relative;
}

.carousel .carousel-slides,
.carousel .carousel-slide-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel .carousel-slides {
    display: flex;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow: scroll clip;
}

.carousel .carousel-slides::-webkit-scrollbar {
    display: none;
}

.carousel .carousel-slide {
    transition: transform 0.5s ease;
    flex: 0 0 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: min(40rem, calc(100svh - var(--nav-height)));
    background-color: #000a19;
}

.carousel .carousel-slide:has(.carousel-slide-content[data-align="center"]) {
    align-items: center;
}

.carousel .carousel-slide:has(.carousel-slide-content[data-align="right"]) {
    align-items: flex-end;
}

.carousel .carousel-slide .carousel-slide-image picture {
    position: absolute;
    inset: 0;
}

.carousel .carousel-slide .carousel-slide-image picture > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.carousel .carousel-slide .carousel-slide-container {
    z-index: 1;
    padding: 1rem;
    margin: 1.5rem 3rem;
    color: white;
    position: relative;
    width: var(--slide-content-width, auto);
    background-color: rgb(255 255 2555 / 10%);
    border-radius: 20px;

    p {
        margin: 0;
    }

    div:nth-of-type(1) {
        color: var(--featured-color);
        font-size: 3rem;
        text-transform: uppercase;
    }

    div:nth-of-type(2) {
        color: var(--light-color);
        font-size: 1.5rem;
    }
}

.carousel .carousel-slide-indicators {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    background-color: var(--black);
}

.carousel .carousel-slide-indicator {
    flex-basis: 84px;
}

.carousel .carousel-slide-indicator button {
    border: none;
    pointer-events: auto;
    width: 100%;
    margin: 0 8px;
    padding: 18px 0;
    position: relative;
    background-color: transparent;
}

.carousel .carousel-slide-indicator button::before,
.carousel .carousel-slide-indicator button::after {
    content: "";
    background: var(--light-color);
    width: 100%;
    height: 5px;
    position: absolute;
}

.carousel .carousel-slide-indicator button::after {
    transform-origin: left;
    background: var(--featured-color);
    transform: scaleX(0)
}

.carousel .carousel-slide-indicator button[disabled="true"]::after {
    animation: fill-progress 5s linear;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

@keyframes fill-progress {
    100% {
        transform: scaleX(1)
    }
}
